@using MyFitScope.Web.ViewModels.Exercises
@model ExerciseListingViewModel

@{
    this.ViewData["Title"] = "Exercises";
}


<section class="container">
    <div class="row">
        <div class="col-md-8 bg-white rcorners p-3">
            @{
                var tokens = Model.ExerciseCategory.Split("=", StringSplitOptions.RemoveEmptyEntries);
                var resultType = tokens[0];
                var resultValue = tokens[1];
            }

            @if (resultType == "search")
            {
                <h1 class="text-center">Search results for "@resultValue":</h1>
            }
            else
            {
                @if (resultValue == "All")
                {
                    <h1 class="text-center">All Exercises</h1>
                }
                else if (resultValue == "Custom")
                {
                    @if (User.IsInRole("Admin"))
                    {
                        <h1 class="text-center">Users custom created Exercises</h1>
                    }
                    else
                    {
                        <h1 class="text-center">Your custom created Exercises</h1>
                    }

                }
                else
                {
                    <h1 class="text-center">Exercises of category "@resultValue"</h1>
                }
            }

            <hr />

            @if (Model.Exercises.Count != 0)
            {
                var exercises = Model.Exercises.OrderByDescending(e => e.CreatedOn).ToList();

                foreach (var exercise in exercises)
                {
                    <ul class="list-unstyled col-md-12 border border-light">
                        <li class="media">
                            <img class="mb-2 mr-3  exercise-listing-image" src="@exercise.ThumbnailUrl" alt="Thumbnail Image">
                            <div class="media-body">
                                <a asp-controller="Exercises" asp-action="Details" asp-route-id="@exercise.Id"><h5 class="mt-0 mb-1">@exercise.Name</h5></a>
                                <p>Created by: @exercise.CreatorName</p>
                                <p>Muscle Group: @exercise.MuscleGroupTitle</p>

                                @exercise.ShortDescription
                            </div>
                        </li>
                    </ul>
                }

                <!-- Pagination -->
                <nav>
                    <ul class="pagination justify-content-center">
                        @{
                            var previousActive = Model.Exercises.HasPreviousPage ? string.Empty : " disabled";
                            var nextActive = Model.Exercises.HasNextPage ? string.Empty : " disabled";
                        }

                        <li class="@("page-item" + previousActive)">
                            <a class="page-link" asp-controller="Exercises" asp-action="ExercisesListing" asp-route-exerciseCategory="@resultValue" asp-route-pageIndex="@(Model.Exercises.PageIndex - 1)">Previous</a>
                        </li>

                        @for (var i = 1; i <= Model.Exercises.TotalPages; i++)
                        {
                            var currentActive = Model.Exercises.PageIndex == i ? " active" : string.Empty;

                            <li class="@("page-item" + currentActive)">
                                <a class="page-link" asp-controller="Exercises" asp-action="ExercisesListing" asp-route-exerciseCategory="@resultValue" asp-route-pageIndex="@i">@i</a>
                            </li>



                        }

                        <li class="@("page-item" + nextActive)">
                            <a class="page-link" asp-controller="Exercises" asp-action="ExercisesListing" asp-route-exerciseCategory="@resultValue" asp-route-pageIndex="@(Model.Exercises.PageIndex + 1)">Next</a>
                        </li>
                    </ul>
                </nav>
            }
            else
            {
                @if (resultType == "search")
                {
                    <p>Sorry, No exercise found...</p>
                }
                else
                {
                    @if (resultValue == "Custom")
                    {
                        if (User.IsInRole("Admin"))
                        {
                            <p>No Custom Exercises yet...</p>
                        }
                        else
                        {
                            <p>You have no Custom Exercises. You can create one <a asp-controller="Exercises" asp-action="CreateExercise">here</a>.</p>
                        }

                    }
                    else
                    {
                        <p>Sorry, we don't have any exercises in this category at this moment...</p>
                    }
                }

            }
        </div>
        <div class="col-md-4">
            <!-- Search Widget -->
            <div class="card my-4">
                <h5 class="card-header bg-dark text-white">Search</h5>
                <div class="card-body">
                    <form method="get" asp-controller="Exercises" asp-action="ExercisesListing">
                        <div class="input-group form-group">
                            <input type="text" class="form-control" name="exerciseCategory" placeholder="Search for...">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-secondary">Go!</button>
                            </span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>      
</section>
