@using MyFitScope.Web.ViewModels.Exercises
@model ExerciseListingViewModel

@{
    this.ViewData["Title"] = "Exercises";
}

<section>
    @if (Model.ListedGroupType == "All")
    {
        <h1>All Exercises</h1>
    }
    else if (Model.ListedGroupType == "Custom")
    {
        <h1>Your custom created Exercises</h1>
    }
    else
    {
        <h1>Exercises of category "@Model.ListedGroupType"</h1>
    }
    <div class="container row">
        @if (Model.Exercises.Count != 0)
        {
            foreach (var exercise in Model.Exercises)
            {
                <ul class="list-unstyled col-md-10">
                    <li class="media">
                        <img class="mb-2 mr-3  exercise-listing-image" src="@exercise.ThumbnailUrl" alt="Thumbnail Image">
                        <div class="media-body">
                            <a asp-controller="Exercises" asp-action="Details" asp-route-id="@exercise.Id"><h5 class="mt-0 mb-1">@exercise.Name</h5></a>
                            <p>Muscle Group: @exercise.MuscleGroupTitle</p>
                            @exercise.ShortDescription
                        </div>
                    </li>
                </ul>
            }
        }
        else
        {
            <p>Sorry, we don't have any exercises in this category at this moment...</p>
        }

    </div>   
</section>
