@using MyFitScope.Data.Models.FitnessModels.Enums
@using MyFitScope.Web.ViewModels.Workouts
@model CurrentWorkoutViewModel

@{ 
    this.Layout = "_LoggedInLayout";
}

    <section>
        @if (Model == null)
        {
            <h1>No current workout found</h1>
            <p>You still don't have a current workout! Press the "Create Workout" button bellow to create one:</p>
            <div>
                <a class="btn btn-primary" asp-controller="Workouts" asp-action="AddWorkout">Create Workout</a>
            </div>
        }
        else
        {
            <div>
                <h1>Your current workout:</h1>
                <p><span class="font-weight-bold">Name:</span> @Model.Name</p>
                <p><span class="font-weight-bold">Creator:</span> @Model.CreatorName</p>
                <p><span class="font-weight-bold">Difficulty:</span> @Model.DifficultyTitle</p>
                <p><span class="font-weight-bold">Workout Category:</span> @Model.WorkoutTypeTitle</p>
                <p><span class="font-weight-bold">Description:</span> @Model.Description</p>
            </div>


          

            @if (Model.WorkoutDays.Count != 0)
            {
                <div id="workoutDays">
                    @foreach (var day in Model.WorkoutDays)
                    {
                        <div>
                            <h3>@day.WeekDayTitle /@(day.Name != string.Empty ? day.Name : "Add execises to see muscle groups!")/</h3>
                            
                            @if (this.User.IsInRole("Admin") || Model.IsCustom == true)
                            {
                                <div>
                                    <a class="btn btn-info" asp-controller="WorkoutDays" asp-action="Edit" asp-route-workoutDayId="@day.Id">Edit</a>
                                </div>
                            }

                            @if (day.Exercises.Count != 0)
                            {
                                <table class="table table-striped">

                                    <thead>
                                        <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Muscle</th>
                                            <th scope="col">Exercise</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        @for (var i = 0; i < day.Exercises.Count; i++)
                                        {
                                            <tr>
                                                <th scope="row">@(i + 1)</th>
                                                <td>@day.Exercises[i].MuscleGroupTitle</td>
                                                <td><a asp-controller="Exercises" asp-action="Details" asp-route-id="@day.Exercises[i].ExerciseId">@day.Exercises[i].ExerciseName</a></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                        </div>
                    }
                </div> 
            }
        }
    </section>


