@using MyFitScope.Common
@using MyFitScope.Data.Models
@using MyFitScope.Web.ViewModels.Workouts
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager
@model DetailsViewModel

@{
    this.Layout = "_Layout";
    this.ViewData["Title"] = "Workout Details";
}

<section class="container col-md-9 bg-white rcorners p-4">
    <div>
        <header class="text-center">
            <h1>@Model.Name</h1>
            <hr />
        </header>
        <section>
            <p><span class="font-weight-bold">Creator:</span> @Model.CreatorName</p>
            <p><span class="font-weight-bold">Difficulty:</span> @Model.DifficultyTitle</p>
            <p><span class="font-weight-bold">Workout Category:</span> @Model.WorkoutTypeTitle</p>
            <p><span class="font-weight-bold">Description:</span> @Html.Raw(Model.SanitizedDescription)</p>
            <hr />
        </section>

        @{
            var loggedInUser = await UserManager.GetUserAsync(User);
        }
        @if (User.Identity.IsAuthenticated)
        {
            if (loggedInUser.WorkoutId != Model.Id)
            {
                <div>
                    <a class="btn btn-primary btn-block" asp-controller="Workouts" asp-action="SetAsCurrentWorkout" asp-route-workoutId="@Model.Id">Set As Current Workout</a>
                </div>
            }
            else
            {
                <div class="alert alert-info" role="alert">
                    This workout is already set as your current.
                </div>
            }

            <hr />
        }

    </div>

    @if (Model.WorkoutDays.Count != 0)
    {
        <div id="workoutDays">
            <div class="accordion" id="accordionExample">
                @{
                    var workoutDays = Model.WorkoutDays.OrderBy(w => w.WeekDay).ToList();
                }

                @for (var i = 0; i < workoutDays.Count; i++)
                {
                    var day = workoutDays[i];

                    <div class="card">
                        <div class="card-header d-flex justify-content-between" id="@("heading" + i)">
                            <h3 class="mb-0">
                                @{
                                    var buttonCollapseValue = i > 0 ? " collased" : string.Empty;
                                }
                                <button class="@("btn btn-link text-decoration-none" + buttonCollapseValue)" type="button" data-toggle="collapse" data-target="@("#collapse" + i)" aria-expanded="true" aria-controls="@("collapse" + i)">
                                    <h3>@day.WorkoutDayTitle</h3>
                                </button>
                            </h3>
                        </div>

                        @{
                            var collapseValue = i > 0 ? "collapse" : "collapse show";
                        }

                        <div id="@("collapse" + i)" class="@collapseValue" aria-labelledby="@("heading"+ i)" data-parent="#accordionExample">
                            <div class="exercises-row">

                                @{
                                    var exercises = day.Exercises.OrderBy(e => e.Position).ToList();
                                }

                                @if (exercises.Count != 0)
                                {

                                    for (int j = 0; j < exercises.Count; j++)
                                    {
                                        var exercise = exercises[j];

                                        <div class="exercise-container">
                                            <img class="exercise-image" src="@exercise.ThumbnailUrl" />
                                            <div class="exercise-properties">
                                                <h6><a asp-controller="Exercises" asp-action="Details" asp-route-id="@exercise.ExerciseId">@exercise.ExerciseName</a></h6>
                                            </div>
                                            <p class="exercise-position">@(exercise.Position < 10 ? "0" + exercise.Position + "." : exercise.Position + ".")</p>
                                        </div>
                                    }

                                }
                                else
                                {
                                    <p class="text-center text-white">No exercises added for this day!</p>
                                }

                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
    else
    {
        <div class="alert alert-info" role="alert">
            There are no workout days in this workout program!
        </div>
    }
</section>