@using MyFitScope.Common
@using MyFitScope.Web.ViewModels.Comments
@model CommentViewModel


<div class="media mb-4">

    @if (Model.UserAvatarImageUrl != null)
    {
        <img class="d-flex mr-3 rounded-circle" width="50" height="50" src="@Model.UserAvatarImageUrl" alt="user avatar">
    }
    else
    {
        <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
    }

    <div class="media-body">
        <div class="d-flex">
            <h5 class="mt-0 mr-2">@Model.UserUserName</h5>
            <p class="text-secondary"><time datetime="@Model.CreatedOn.ToString("O")"></time></p>
        </div>       
        @Model.Content

    <ul class="list-inline d-sm-flex my-0 parent-vote-element">
        <li class="list-inline-item g-mr-20">
            @if (User.Identity.IsAuthenticated)
            {
                <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover text-decoration-none" onclick="SendVote('Comment', '@Model.Id', true)" href="#!">
                    <i class="fa fa-thumbs-up g-pos-rel g-top-1 g-mr-3"></i>
                    <span class="vote-span">@Model.UpVotes</span>
                </a>
            }
            else
            {
                <i class="fa fa-thumbs-up g-pos-rel g-top-1 g-mr-3"></i>
                <span class="vote-span">@Model.UpVotes</span>
            }

        </li>
        <li class="list-inline-item g-mr-20">
            @if (User.Identity.IsAuthenticated)
            {
                <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover text-decoration-none" onclick="SendVote('Comment', '@Model.Id', false)" href="#!">
                    <i class="fa fa-thumbs-down g-pos-rel g-top-1 g-mr-3"></i>
                    <span class="vote-span">@Model.DownVotes</span>
                </a>
            }
            else
            {
                <i class="fa fa-thumbs-down g-pos-rel g-top-1 g-mr-3"></i>
                <span class="vote-span">@Model.DownVotes</span>
            }

        </li>

        @{ 
            var responsesCount = Model.Responses.Count();
        }

        @if (responsesCount > 0)
        {
            <li class="list-inline-item ml-3">
                <a href="#!" onclick="ToggleResponses('@Model.Id')">
                    @(responsesCount + " " + (responsesCount > 1 ? "Responses" : "Response"))
                    <!-- <i class="fas fa-comments"></i> (@Model.Responses.Count()) -->
                </a>       
            </li>
        }

        @if (User.Identity.IsAuthenticated)
        {
            <li class="list-inline-item ml-auto">
                <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover replay-comment text-decoration-none" onclick="AddResponseInputForm(); ShowResponses('@Model.Id')" href="#!">
                    <i class="fa fa-reply g-pos-rel g-top-1 g-mr-3"></i>
                    Reply
                </a>
                @if (this.User.IsInRole("Admin"))
                {
                    <a class="btn btn-sm btn-danger ml-3 text-white" asp-controller="Comments" asp-action="DeleteComment" asp-route-commentId="@Model.Id" asp-route-articleId="@Model.ArticleId" onclick="ConfirmDelete('@string.Format(GlobalConstants.CommentConfirmDeleteMessage, Model.UserUserName)')">Delete</a>
                }
            </li>
        }

    </ul>


        <div class="parent-div responses-collapse hidden-element" id="@Model.Id">

            <input type="hidden" name="parentCommentId" value="@Model.Id" />

            @if (responsesCount != 0)
            {
                var responses = Model.Responses.OrderByDescending(r => r.CreatedOn).ToList();

                foreach (var response in responses)
                {

                    <partial name="_ResponsePartial" model="@response" />

                }
            }
        </div>
    </div>
</div>


