@using MyFitScope.Common
@using MyFitScope.Web.ViewModels
@model ResponseViewModel

<div class="media mt-4">
    @if (Model.UserAvatarImageUrl != null)
    {
        <img class="d-flex mr-3 rounded-circle" width="50" height="50" src="@Model.UserAvatarImageUrl" alt="user avatar">
    }
    else
    {
        <img class="d-flex mr-3 rounded-circle" src="/Images/user-icon-image-small.png" alt="default avatar">
    }

    <div class="media-body">
        <div class="d-flex">
            <h5 class="mt-0 mr-2">@Model.UserUserName</h5>
            <p class="text-secondary"><time datetime="@Model.CreatedOn.ToString("O")"></time></p>
        </div>

        @Model.Content

        @if (User.Identity.IsAuthenticated)
        {

        }

        <!-- Voting Section-->
        <ul class="list-inline d-sm-flex my-0 parent-vote-element">
            <li class="list-inline-item g-mr-20">
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover text-decoration-none" onclick="SendVote('Response', '@Model.Id', true)" href="#!">
                        <i class="fa fa-thumbs-up g-pos-rel g-top-1 g-mr-3"></i>
                        <span class="vote-span">@Model.UpVotes</span>
                    </a>
                }
                else
                {
                    <i class="fa fa-thumbs-up g-pos-rel g-top-1 g-mr-3"></i>
                    <span class="vote-span">@Model.UpVotes</span>
                }

            </li>
            <li class="list-inline-item g-mr-20">
                @if (User.Identity.IsAuthenticated)
                {
                    <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover text-decoration-none" onclick="SendVote('Response', '@Model.Id', false)" href="#!">
                        <i class="fa fa-thumbs-down g-pos-rel g-top-1 g-mr-3"></i>
                        <span class="vote-span">@Model.DownVotes</span>
                    </a>
                }
                else
                {
                    <i class="fa fa-thumbs-down g-pos-rel g-top-1 g-mr-3"></i>
                    <span class="vote-span">@Model.DownVotes</span>
                }
            </li>
            @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName))
            {
                <li class="list-inline-item ml-auto">
                    <a class="btn btn-sm btn-danger ml-lg-5" asp-controller="Responses" asp-action="DeleteResponse" asp-route-responseId="@Model.Id" asp-route-articleId="@Model.ArticleId" onclick="ConfirmDelete('@string.Format(GlobalConstants.ResponseConfirmDeleteMessage, Model.UserUserName)')">Delete</a>
                </li>
            }

        </ul>
    </div>
</div>

