@using MyFitScope.Web.ViewModels.Progresses
@model EditProgressStatisticViewModel

@{
    this.ViewData["Title"] = "Edit Statistics";
}


<section class="container col-md-8">
    <h1 class="mb-0 p-3 text-center text-white bg-dark r-top-corners">Edit Statistic from @Model.CreatedOn.ToShortDateString()</h1>
    <form method="post" class="form-group bg-light p-4 mt-0 r-bottom-corners" asp-controller="Progresses" asp-action="EditStatistic">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Weight"></label>
                <input type="number" asp-for="Weight" class="form-control" step="any" min="0" value="@Model.Weight"/>
                <span asp-validation-for="Weight" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Biceps"></label>
                <input type="number" asp-for="Biceps" class="form-control" step="any" min="0" value="@Model.Biceps"/>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Chest"></label>
                <input type="number" asp-for="Chest" class="form-control" step="any" min="0" value="@Model.Chest"/>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Hips  "></label>
                <input type="number" asp-for="Hips" class="form-control" step="any" min="0" value="@Model.Hips"/>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label asp-for="Thigh "></label>
                <input type="number" asp-for="Thigh" class="form-control" step="any" min="0" value="@Model.Thigh"/>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="Calf  "></label>
                <input type="number" asp-for="Calf" class="form-control" step="any" min="0" value="@Model.Calf"/>
            </div>
        </div>
        <input type="hidden" name="Id" value="@Model.Id" />
        <div class="text-center">
            <input type="submit" class="btn btn-info btn-block" value="Edit" />
        </div>
    </form>
</section>
