@using MyFitScope.Web.ViewModels.WorkoutDays
@model EditWorkoutDayViewModel

@{
    this.Layout = "_LoggedInLayout";
}

<section>
    <article class="bg-light p-4 rcorners">
        <header class="text-center">
            <h1>Edit Workout Day - @Model.WeekDayTitle</h1>
        </header>

        <div class="m-3">
            <a class="btn btn-primary" asp-controller="Workouts" asp-action="CurrentWorkout"><i class="fas fa-arrow-left"></i> Back to Current Workouot</a></div>
        <div>

            @if (Model.Exercises.Count == 0)
            {
                <div>
                    <p>
                        You currently don't have any execises in this workout day. <br />
                        Use "Exercise Manager" to add exercise for this day.
                    </p>
                </div>
            }
            else
            {
                <table class="table table-striped">

                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Muscle</th>
                            <th scope="col">Exercise</th>
                            <th scope="col">Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        @{ 
                            var exercises = Model.Exercises.OrderBy(e => e.MuscleGroup).ToList();
                        }

                        @for (var i = 0; i <exercises.Count; i++)
                        {
                            <tr>
                                <th scope="row">@(i + 1)</th>
                                <td>@exercises[i].MuscleGroupTitle</td>
                                <td><a asp-controller="Exercises" asp-action="Details" asp-route-id="@exercises[i].Id">@exercises[i].Name</a></td>
                                <td><a class="btn btn-danger btn-sm" asp-controller="WorkoutDaysExercises" asp-action="RemoveExercise" asp-route-exerciseId="@exercises[i].Id" asp-route-workoutDayId="@Model.Id">Remove</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            }

            <div id="exerciseManager" class="bg-secondary exercise-menu-main-div">
                <div class="bg-dark">
                    <h3 class="text-center text-white pb-2 pt-1">Exercise Manager</h3>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="list-group" id="list-tab" role="tablist">
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="tab-content" id="nav-tabContent">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>


@section Scripts {
    <script>
        function GetMuscleGroups() {
            $.ajax("/Exercises/GetMuscleGroups", {
                type: 'GET',
                success: function (data) {
                    let parentDivElement = document.getElementById("list-tab");

                    parentDivElement.innerHTML = "";

                    for (let i = 0; i < data.length; i++) {
                        let attributeValue = data[i].groupName.toLowerCase().replace("_", "-");
                        let contentValue = data[i].groupName.replace("_", " ");

                        let child = document.createElement("a");

                        child.classList.add("list-group-item");
                        child.classList.add("list-group-item-action");

                        child.setAttribute("id", "list-" + attributeValue + "-list");
                        child.setAttribute("data-toggle", "list");
                        child.setAttribute("href", "#list-" + attributeValue);
                        child.setAttribute("role", "tab");
                        child.setAttribute("aria-controls", attributeValue);

                        child.textContent = contentValue;

                        child.addEventListener("click", function () {
                            let activeElement = document.getElementsByClassName("active")[0];

                            if (activeElement) {
                                activeElement.classList.remove("active");
                            }

                            let eventElement = event.target;

                            eventElement.classList.add("active");


                            CreateExerciseLinks(data[i].groupName);
                        });

                        parentDivElement.appendChild(child);
                    }
                }
            });
        }

        function CreateExerciseLinks(muscleGroup) {
            $.ajax("/Exercises/GetExercisesByMuscleGroup?muscleGroup=" + muscleGroup, {
                type: 'GET',
                success: function (data) {
                    let attributeValue = muscleGroup.toLowerCase().replace("_", "-");

                    let parentDivElement = document.getElementById("nav-tabContent");

                    parentDivElement.innerHTML = "";

                    if (data.length != 0) {
                        let child = document.createElement("UL");

                        child.style.listStyleType = "none";
                        child.style.paddingTop = "10px";
                        child.style.paddingBottom = "10px";
                        child.classList.add("bg-white");
                        child.classList.add("tab-pane");
                        child.classList.add("fade");
                        child.classList.add("show");
                        child.classList.add("active");

                        child.setAttribute("id", "list-" + attributeValue);
                        child.setAttribute("role", "tabpanel");
                        child.setAttribute("aria-labelledby", "list-" + attributeValue + "-list");

                        for (let i = 0; i < data.length; i++) {
                            let innerChild = document.createElement("LI");
                            innerChild.style.margin = "10px";
                            let anchorElement = document.createElement("A");

                            anchorElement.style.textDecoration = "none";
                            anchorElement.style.fontSize = "20px";
                            anchorElement.setAttribute("href", "/WorkoutDaysExercises/AddExerciseToWorkoutDay?exerciseId=" + data[i].id + "&workoutDayId=" + "@Model.Id");
                            anchorElement.textContent = data[i].name;

                            innerChild.appendChild(anchorElement);

                            child.appendChild(innerChild);
                        }

                        parentDivElement.appendChild(child);
                    }
                    else {
                        let errorPElement = document.createElement("P");

                        errorPElement.style.color = "white";
                        errorPElement.textContent = "Sorry, no exercises in this category!";

                        parentDivElement.appendChild(errorPElement);
                    }
                }
            });
        }

        window.onload = GetMuscleGroups;
    </script>
}
