@using MyFitScope.Web.ViewModels.WorkoutDays
@model EditWorkoutDayViewModel

@{
    this.Layout = "_LoggedInLayout";
    this.ViewData["Title"] = "Edit Workout Day";
}

<section>
    <article class="bg-light p-4 rcorners">

        @if (TempData["error"] != null)
        {
            <div class="alert alert-danger" role="alert">
                <i class="fas fa-exclamation-triangle mr-2"></i>@TempData["error"]!
            </div>
        }

        <header class="text-center">
            <h1>Edit Workout Day - @Model.WeekDayTitle</h1>
        </header>

        <div class="m-3">
            <a class="btn btn-primary" asp-controller="Workouts" asp-action="CurrentWorkout"><i class="fas fa-arrow-left"></i> Back to Current Workouot</a>
        </div>

        <div>
            <p>Exercises:</p>
            <hr />

            @if (Model.Exercises.Count == 0)
            {
                <div>
                    <p>
                        You currently don't have any execises in this workout day. <br />
                        Use "Exercise Manager" to add exercise for this day.
                    </p>
                </div>
            }
            else
            {
                <div class="exercises-row">

                    @{
                        var exercises = Model.Exercises.OrderBy(e => e.Position).ToList();
                    }

                    @if (exercises.Count != 0)
                    {

                        for (int i = 0; i < exercises.Count; i++)
                        {
                            var exercise = exercises[i];

                            <div class="exercise-container">
                                <img class="exercise-image" src="@exercise.ThumbnailUrl" />
                                <div class="exercise-properties">
                                    <h5><a asp-controller="Exercises" asp-action="Details" asp-route-id="@exercise.ExerciseId">@exercise.ExerciseName</a></h5>
                                    <ul>
                                        <li>
                                            Swap with <i class="fas fa-caret-down"></i>
                                            <ul>
                                                @for (int j = 0; j < exercises.Count; j++)
                                                {
                                                    if (j + 1 == exercise.Position)
                                                    {
                                                        continue;
                                                    }

                                                    <li><a class="dropdown-item" asp-controller="WorkoutDaysExercises" asp-action="SwapExercisePosition" asp-route-currentExerciseId="@exercise.ExerciseId" asp-route-targetExerciseId="@exercises[j].ExerciseId" asp-route-workoutDayId="@Model.Id">@exercises[j].Position</a></li>
                                                }
                                            </ul>
                                        </li>
                                        <li><a asp-controller="WorkoutDaysExercises" asp-action="Edit" asp-route-exerciseId="@exercise.ExerciseId" asp-route-workoutDayId="@exercise.WorkoutDayId">Edit</a></li>
                                        <li><a href="#">Remove</a></li>
                                    </ul>
                                    <ul class="exercise-properties-list">
                                        <li>Sets: @exercise.Sets</li>
                                        <li>Reps: @exercise.Reps</li>
                                        <li>Weights: @exercise.Weights</li>
                                        <li>Time Inteval: @exercise.TimeIntervalValue</li>
                                    </ul>
                                </div>
                                <p class="exercise-position">@(exercise.Position < 10 ? "0" + exercise.Position + "." : exercise.Position + ".")</p>
                            </div>
                        }

                    }
                    else
                    {
                        <p class="text-center text-white">No exercises added for this day!</p>
                    }

                </div>
            }

            <div id="exerciseManager" class="bg-secondary exercise-menu-main-div">
                <div class="bg-dark">
                    <h3 class="text-center text-white pb-2 pt-1">Exercise Manager</h3>
                </div>
                <div class="row">
                    <div class="col-4">
                        <div class="list-group" id="list-tab" role="tablist">
                        </div>
                    </div>
                    <div class="col-8">
                        <div class="tab-content" id="nav-tabContent">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</section>


@section Scripts {
    <script>
        function GetMuscleGroups() {
            $.ajax("/Exercises/GetMuscleGroups", {
                type: 'GET',
                success: function (data) {
                    let parentDivElement = document.getElementById("list-tab");

                    parentDivElement.innerHTML = "";

                    for (let i = 0; i < data.length; i++) {
                        let attributeValue = data[i].groupName.toLowerCase().replace("_", "-");
                        let contentValue = data[i].groupName.replace("_", " ");

                        let child = document.createElement("a");

                        child.classList.add("list-group-item");
                        child.classList.add("list-group-item-action");

                        child.setAttribute("id", "list-" + attributeValue + "-list");
                        child.setAttribute("data-toggle", "list");
                        child.setAttribute("href", "#list-" + attributeValue);
                        child.setAttribute("role", "tab");
                        child.setAttribute("aria-controls", attributeValue);

                        child.textContent = contentValue;

                        child.addEventListener("click", function () {
                            let activeElement = document.getElementsByClassName("active")[0];

                            if (activeElement) {
                                activeElement.classList.remove("active");
                            }

                            let eventElement = event.target;

                            eventElement.classList.add("active");


                            CreateExerciseLinks(data[i].groupName);
                        });

                        parentDivElement.appendChild(child);
                    }
                }
            });
        }

        function CreateExerciseLinks(muscleGroup) {
            $.ajax("/Exercises/GetExercisesByMuscleGroup?muscleGroup=" + muscleGroup, {
                type: 'GET',
                success: function (data) {
                    let attributeValue = muscleGroup.toLowerCase().replace("_", "-");

                    let parentDivElement = document.getElementById("nav-tabContent");

                    parentDivElement.innerHTML = "";

                    if (data.length != 0) {
                        let child = document.createElement("UL");

                        child.style.listStyleType = "none";
                        child.style.paddingTop = "10px";
                        child.style.paddingBottom = "10px";
                        child.classList.add("bg-white");
                        child.classList.add("tab-pane");
                        child.classList.add("fade");
                        child.classList.add("show");
                        child.classList.add("active");

                        child.setAttribute("id", "list-" + attributeValue);
                        child.setAttribute("role", "tabpanel");
                        child.setAttribute("aria-labelledby", "list-" + attributeValue + "-list");

                        for (let i = 0; i < data.length; i++) {
                            let innerChild = document.createElement("LI");
                            innerChild.style.margin = "10px";
                            let anchorElement = document.createElement("A");

                            anchorElement.style.textDecoration = "none";
                            anchorElement.style.fontSize = "20px";
                            anchorElement.setAttribute("href", "/WorkoutDaysExercises/AddExerciseToWorkoutDay?exerciseId=" + data[i].id + "&workoutDayId=" + "@Model.Id");
                            anchorElement.textContent = data[i].name;

                            innerChild.appendChild(anchorElement);

                            child.appendChild(innerChild);
                        }

                        parentDivElement.appendChild(child);
                    }
                    else {
                        let errorPElement = document.createElement("P");

                        errorPElement.style.color = "white";
                        errorPElement.textContent = "Sorry, no exercises in this category!";

                        parentDivElement.appendChild(errorPElement);
                    }
                }
            });
        }

        window.onload = GetMuscleGroups;
    </script>
}
