@using MyFitScope.Web.ViewModels.Articles
@model ArticlesLIstingViewModel

@{
    this.Layout = "_ArticleLayout";
    this.ViewData["Title"] = "Articles";
}


<!-- Page Content -->
<h1 class="my-4">
    Blog Articles
    <small>You can find every one of our articles here.</small>
</h1>

@if (Model.Articles.Count() == 0)
{
    <h3>No results found!</h3>
}
else
{
    @foreach (var article in Model.Articles)
    {
        <div class="media mt-3">
            <div class="media-body">
                <h5 class="mt-0 mb-1"><a href="Details?articleId=@article.Id">@article.Title</a></h5>
                @article.ShortContent
            </div>
            <img src="@article.ImageUrl" class="ml-3 articles-listing-images" alt="@article.Title">
        </div>
    }
}


<!-- Pagination -->
<nav class="text-center">
    <ul class="pagination">
        @if (Model.Articles.HasPreviousPage)
        {
            <li class="page-item">
                <a class="page-link" asp-controller="Articles" asp-action="ArticlesListing" asp-route-articleCategory="@Model.ArticleCategory" asp-route-pageIndex="@(Model.Articles.PageIndex - 1)">Previous</a>
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <a class="page-link" href="#" tabindex="-1">Previous</a>
            </li>
        }


        @for (var i = 1; i <= Model.Articles.TotalPages; i++)
        {
            @if (Model.Articles.PageIndex == i)
            {
                <li class="page-item active">
                    <a class="page-link" asp-controller="Articles" asp-action="ArticlesListing" asp-route-articleCategory="@Model.ArticleCategory" asp-route-pageIndex="@i">@i</a>
                </li>
            }
            else
            {
                <li class="page-item">
                    <a class="page-link" asp-controller="Articles" asp-action="ArticlesListing" asp-route-articleCategory="@Model.ArticleCategory" asp-route-pageIndex="@i">@i</a>
                </li>
            }

        }

        @if (Model.Articles.HasNextPage)
        {
            <li class="page-item">
                <a class="page-link" asp-controller="Articles" asp-action="ArticlesListing" asp-route-articleCategory="@Model.ArticleCategory" asp-route-pageIndex="@(Model.Articles.PageIndex + 1)">Next</a>
            </li>
        }
        else
        {
            <li class="page-item disabled">
                <a class="page-link" href="#">Next</a>
            </li>
        }
    </ul>
</nav>
