@using MyFitScope.Web.ViewModels.Administration.Administration
@model EditUsersInRoleViewModel

@{ 
    this.ViewData["Title"] = "Edit Users In Role";
}

<section>
    <form method="post" >
        <div class="card">
            <div class="card-header">
                <h1>Add or Remove Users from role "@Model.RoleName"</h1>
            </div>
            <div class="card-body">
                @{ 
                    var users = Model.Users.ToList();
                }

                @for(int i = 0; i < users.Count; i++)
                {
                    <div class="form-check m1">
                        <input type="hidden" asp-for="@users[i].UserId"/>
                        <input type="hidden" asp-for="@users[i].UserName" />
                        <input asp-for="@users[i].IsSelected" class="form-check-input" />
                        <label asp-for="@users[i].IsSelected" class="form-check-label">@users[i].UserName</label>
                    </div>
                }
            </div>
            <div class="card-footer">
                <button type="submit" asp-route-roleId="@users[0].RoleId" class="btn btn-primary">Update</button>
                <a class="btn btn-danger" asp-area="Administration" asp-controller="Administration" asp-action="AllRoles">Cancel</a>
            </div>
        </div>
    </form>  
</section>
